#container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: larger;
    margin: 1em;
}

#formArea{
  min-width: 50vw;
}

.fields {
    border: 0;
}

/* .inputContainer{
    margin-left: 2em;
} */

.underlineDiv{
    border-bottom: solid 0.01em black;
    margin-bottom: 1em;
    padding: 0;
    line-height: 0;
    display: flex;
    flex-direction: column;
  }

.items{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.items > input{
  padding: 1em;
}

.dateArea{
  display: flex;
  justify-content: center;
  align-items: center;
}


.dateInput{
  display: flex;
  flex-direction: column;
  margin: 0 1em;
}

.dateInput > input[type="date"]{
  padding: 0.5em;
  border-radius: 0.5em;
}


#rangeSlider{
  margin: 1em;

}
  #rangeSlider *{
    box-shadow: none ;
  }
  #rangeSlider *::before{
    box-shadow: none ;
  }
  /* #rangeSlider > div > div *{
    box-shadow: none ;

  } */

  .selectItem{
    width: 45%;
    display: flex;

    align-items: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;    
    padding: 1em;
    margin: 0.5em !important;
}

.selectItem > label{
  margin-left: 1em;
}



@media only screen and (max-width: 960px) {

  .items{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .selectItem{
    min-width: 95%;
    display: flex;
    min-height: 3ch;
    align-items: center;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;    
    padding: 1em;
    margin: 0.5em !important;
}

.dateArea{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


.dateInput{
  display: flex;
  flex-direction: column;
}

.dateInput > input[type="date"]{
  padding: 0.5em;
  border-radius: 0.5em;
}
}
