.toggler{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.dropdown{
    min-width: 20ch;
    max-width: 20ch;
    padding: 1.5em;
    margin: 0.75em 0.25em ;
    border-radius: 1em;
    border: 0.1em solid black;
    line-height: 0;
    background: white;
    position: relative;
    min-height: 5ch;
}

.dropdown:hover{
  transform: scale(1.05);
}
.dropdownContent {
    display: none;
    position: absolute;
    margin-top: 1.5em;
    border: 0.1em solid black;
    background-color: white;
    border-radius: 1em;
    min-width: 15ch;
    max-width: 15ch;
    padding: 0;
    box-shadow: 0 1em 1em 0 rgba(0,0,0,0.2);

    text-align: center;
    
  }

.dropdown:hover .dropdownContent {
  display: block;
  flex-direction: column;
}

.buttonArea{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5em 0;
  padding: 0.1em;
  z-index: 999;
  
}
.toggles{
  padding-top: 0.5em;
}
/*
https://stackoverflow.com/questions/2573544/how-can-i-select-all-children-of-an-element-except-the-last-child*/
div .toggles:not(:last-child){
  border-bottom: solid 0.1em black ;
}
/* .textArea{
  text-align: center;
} */


.toggleButton{
  border: solid 0.1em black;
  border-radius: 0.5em;
  background-color: black;
  margin: 0 0.35em;
  color: white;
}

@media screen and (max-width: 1000px) {
  .dropdown {
    min-width: 18ch;
    max-width: 18ch;
  }
    .dropdownContent {
        min-width: 13ch;
        max-width: 13ch;
    }
}
  