#container{
    width : 100%;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    align-self : center;
    background-color : white;
    padding: 2em;
    border-radius: 1em;
    border: 0.01em solid black;
    font-size: larger;
}

#links{
    width : 100%;
    display: flex;
    flex-direction: column;
    justify-content : center;
    align-items : center;
}

#links > a{
    padding: 0.5em;
    color: black;
}