html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-poppins);
  line-height: 1.4;
  font-size: 0.9em;
  background-color: white;
}



* {
  box-sizing: border-box;
}



/*a {*/
/*  color: #0070f3;*/
/*  text-decoration: none;*/
/*}*/

/*a:hover {*/
/*  text-decoration: underline;*/
/*}*/

/*img {*/
/*  max-width: 100%;*/
/*  display: block;*/
/*}*/