#amenitiesList{
    /* padding: 1em;
    margin-bottom: 1.5em; */
    background-color: white;
    border: 0.01em solid lightgray;
    box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.1);
    font-size: large;
    margin: 0.5em;


  }

  #flex{
    display: flex;

  }

#flex > ul{
    list-style: none;
}

/* 
#flex > ul:first{
  border-right: black 0.1em solid ;
} */

#title{
  border-radius: 0.99em;
  background-color:#FAF9F6;
  border-bottom: pink groove 0.2em;
  padding: 0.5em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  align-items: center;
}

#title > button{
  margin-left: auto;
}

#title:hover{
  cursor: pointer;
}

/* #title >  h4{
  font-size: large;
} */

#title > h4{
  font-size: small;
  background-color: lightgray;
  padding: 0.5em;
  margin-left: 1em ;
  border-radius: 1em;
}

#has{
    min-width: 50%;
    color: green;
}
#hasnt{
    min-width: 50%;
    color: red;
    border-right: solid black 0.1em;
}

@media only screen and (max-width: 960px) {
  #title * {
     font-size: medium;
  }

  #title > h4{
    padding: 0.25em;
  }

    #has, #hasnt{
      font-size: medium;
      padding: 0;
      margin: 0;
      margin-left: 0.2em ;
      border: none;
  }


  #flex{
    flex-direction: column-reverse;
  }

}