.options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subsection{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    text-align: center;
    border: solid 0.1em black;
    box-shadow: 0.1em black;
    min-width: 75%;
    max-width: 75%;
}

.subsectionToggleArea{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.5em;
}

.subsectionToggleArea > button{
    display: flex;
    margin-left: auto;;
}

.group{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    flex-wrap: wrap;
    flex-direction: row;
}


/* .title{
    text-align: center;
    font-size: large;
    padding: 1em;
    border: none;
    border-radius: 1em;
    background-color: transparent;
    cursor: pointer;
    background-color: #f7deb4;

} */


.options input[type=checkbox] {
   display: none;
}

.options label{
    background-color: grey;
    min-width: 20em;
    min-height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.options label strong{
    position: fixed;
    position:absolute; 
    bottom:0.5em;
}