.options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subsection{
    font-size: large;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1em 0;
    text-align: center;
    border-top: solid 0.1em black;
    min-width: 75%;
    max-width: 75%;
}

.subsection:last-of-type{
    border-bottom: solid 0.1em black;
}

/* .subsection :not(:nth-last-child(1)){
    border-bottom: none !important;
} */

.subsectionToggleArea{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.5em;
}

.subsectionToggleArea > button{
    display: flex;
    margin-left: auto;;
}

.group{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    flex-wrap: wrap;
    flex-direction: row;
}


/* .title{
    text-align: center;
    font-size: large;
    padding: 1em;
    border: none;
    border-radius: 1em;
    background-color: transparent;
    cursor: pointer;
    background-color: #f7deb4;

} */


.options input[type=checkbox] {
   display: none;
}

.options label{
    background-color: grey;
    min-width: 15em;
    min-height: 15em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.options label strong{
    position: fixed;
    position:absolute; 
    bottom:0.5em;
}

@media only screen and (max-width: 900px) {
    /* .options label{
        min-width: 30vw;
        min-height: 30vw;
    } */
  }