#otpContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#otpInput{
    font-size: large;
    width: 7ch;
    }

#title{
    text-align: center;
}

#otpForm{
    display: flex;
    flex-direction: column;
}

#otpForm > *{
    margin: 0.5em;
}