#container{

    display: flex;
    align-items: center;
    justify-content: center;
}

#mapContainer{

    height: 30em;
    width: 40em;
}

@media screen and (max-width: 992px) {
    #mapContainer{
        height: 33vh;
        width: 80vw;
    }
  }