#container{
    position: sticky;
    top: 14vh;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 30vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;}

#mapContainer{
    position: sticky;
    top: 0;
    height: 70vh;
    width: 30vw;
}

@media screen and (max-width: 992px) {
    #mapContainer{
        height: 33vh;
        width: 80vw;
    }
  }