.card{
    width: 30%;
    color: white;
    height: 15em;
    background-color: pink;
    margin: 2em 1em;
    border-radius: 1em;
    border: solid black 0.01em;
    padding: 0.5em;
}

.card:hover{
    cursor: pointer;
    transform: scale(1.01);
}

.card:focus{
    transform: scale(1.01);

}