#container{
    display: flex;
    padding: 0.5em;
}

#searchResultsArea{
    display: flex;
    flex-direction: column;
    max-width: 66%;
    min-width: 66%;
}

#locationOverview{
    background-color: pink;
    border-radius: 0.5em;
    font-size: large;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1em;
}

.overviewSubsection{
    display: flex;
    flex-direction: column;
    min-width: 30%;
    margin: 0.5em;
}

#cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: large;
}

.propertyArea{
    min-width: 33%;
    max-width: 33%;
}

