#container{
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

#properties{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 66%;
    align-items: flex-start;
}

.propertyArea{

    min-width: 33%;
    max-width: 33%;
}

