.dropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative; 
}

.dropdownContent {
    position: absolute;
    top: 100%; 
    display: none;
    border: 0.1em solid black;
    background-color: white;
    border-radius: 1em;
    min-width: 20ch;
    max-width: 20ch;
    box-shadow: 0 1em 1em 0 rgba(0, 0, 0, 0.2);
    text-align: center;
}

.authDropdown{
    display: flex;
    flex-direction: column;
}
.authDropdown h3{
    /* margin-bottom: 0; */
}

.dropdown:hover .dropdownContent {
    display: flex;
    flex-direction: column;
}

.links{
    padding: 0.5em;
    font-size: large;
    border-top: black 0.1em solid;
    color: black;
}
#fakeLink{
    padding: 0.5em;
    font-size: large;
    border-top: black 0.1em solid;
    text-decoration: underline;
}
#fakeLink:hover{
    cursor: pointer;
}
/* .links:not(:last-child){
    border-bottom: solid 0.1em black;
} */
