.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 2.5em;
}

.section{
    min-width: 80vw;
    max-width: 80vw;
    margin: 3em;
}

/* .shiftLeft{
    align-self: flex-start;
} */



/* #guestSection label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: large;
    margin: 1em;
}



#guestSection label input:focus{
    outline: none;
}

#guestSection label input{
   max-width: 8ch;
   padding: 0.25em;
   background-color: white;
   border: solid black 0.1em;
   border-radius: 0.5em;
   font-size: x-large;
   text-align: center;
} */

.flat{
    display: flex;
    flex-direction: row ;
}




.options{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

#guestSection{
    display: flex;
    flex-direction: column;

}

.flat{
    justify-content: center;
    align-items: center;
    display: row;
    flex-wrap: wrap;
}

.flat > label > input{
    max-width: 6ch;
    min-width: 6ch;
    /*https://copy-paste-css.com/form-input-text*/
    width: 100%;
    color: rgb(36, 35, 42);
    line-height: 20px;
    min-height: 28px;
    border-radius: 4px;
    padding: 0.5em 0 0.5em 0.3em ;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
}

.flat > label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1em;
    font-size: large;
}

.pricing{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.pricing label input{
    background-color: transparent;
    border: none;
    max-width: 6ch;
    min-width: 6ch;
    
}
.pricing label input:focus{
    outline: none;
}

.pricing label div{
    border: solid 0.1em black;
    background-color: white;
    border-radius: 0.5em;
    padding: 0.25em 0 ;
    display: flex;
    flex-direction: row;
    font-size: x-large;
    margin-top: 0.25em;
    max-width: 8ch;
    width: 100%;
    color: rgb(36, 35, 42);
    line-height: 20px;
    min-height: 28px;
    border-radius: 4px;
    padding: 0.5em 0 0.5em 0.3em ;
    border: 2px solid transparent;
    box-shadow: rgb(0 0 0 / 12%) 0px 1px 3px, rgb(0 0 0 / 24%) 0px 1px 2px;
    background: rgb(251, 251, 251);
    transition: all 0.1s ease 0s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pricing label{
    font-size: large;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 25%;
    min-width: 25%;
    
}

#earningsEst{
    font-size: large;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.options input[type=checkbox] {
   display: none;
}

.options label{
    background-color: grey;
    min-width: 20vw;
    min-height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

/*https://stackoverflow.com/questions/526035/how-can-i-position-my-div-at-the-bottom-of-its-container*/
.options label strong{
    position: fixed;
    position:absolute; 
    bottom:0.5em;
} 

@media only screen and (max-width: 900px) {
    .section{
        min-width: 95vw;
        max-width: 95vw;
    }
    .pricing {
        flex-direction: column;
    }

    .pricing > label{
        min-width: 50vw;
    }
    .options{
        flex-wrap: wrap;
    }

    .options > label{
        min-width: 40vw;
        min-height: 40vw ;
    }
  }