.options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.options input[type=checkbox] {
   display: none;
}

.options label{
    background-color: grey;
    min-width: 20em;
    min-height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

/*https://stackoverflow.com/questions/526035/how-can-i-position-my-div-at-the-bottom-of-its-container*/
.options label strong{
    position: fixed;
    position:absolute; 
    bottom:0.5em;
}