#container{
    border-radius: 1em;
    padding: 1em;
    margin: 1em;
    display: flex;
    justify-content: flex;
    align-items: flex;
    background-color: white;
    min-width:50vw;
}

#guessWhatAnotherContainer{
    display: flex;
    justify-content: center;
    align-items: center;

}


#imageContainer{
    background-color: black;
    min-width: 75%;
    max-width: 75%;
    min-height: 75%;
    max-height: 75%;
    border-radius: 5em;
}



#names{
    flex-direction: row;
}

#theRest{
    flex-direction: column;
}