#container{
    display: flex;
   justify-content: center;
    flex-direction: row;
}


#container section{
    flex-direction: column;
    justify-self: flex-start;
}

#info{
    padding: 5em;
    min-width: 65vw;
    border-right: solid 0.1em black;

}

#description{

}

#imageArea{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

#imageArea > figure{
    display: flex;
    flex-direction: column;

}

#bubbleContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}



#imageArea > figure >img{
    border-radius: 1em;
    box-shadow: 0 0.5em 0.5em rgba(0, 0, 0, 0.5);  
    margin-bottom: 0.5em;
}

#imageArea > button{
    border: none;
    border-radius: 1em;
    font-size: 2em;
    padding-bottom: 0.2em;
    background-color: black;
    opacity: 50%;
    color: white;
}

#imageArea > button:first-child{
    margin-right: -3.5em ;
}

#imageArea > button:last-child{
    margin-left: -3.5em ;
}

#imageArea > button:hover{
    opacity: 90%;
    cursor: pointer;
}






/* #amentiesArea{
   border-top: 0.1em solid black;
} */

#imageToggleArea{
    display: flex;
    justify-content: center;
    align-items: center;
}

#amentiesArea, #overview{
    border-bottom: solid 0.1em grey; 
}

.toggleTitle{
    display: flex;
    flex-direction: row;
    cursor: pointer;
    margin-bottom: 0.5em;
}

.toggleTitle > button{
    margin-left: auto;
}

#profileCard > div > div{
    min-width: 75%;

}

