

.searchContainer{
    margin: 1em; 
    padding: 0;
    gap: 1em;
}

#smartLinkContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

#smartP{
    color: white;
    text-align: center;
    font-size: large;
}

#anc{
    color: white;
    font-size: large;
}

.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    /*https://stackoverflow.com/questions/51426012/set-the-same-height-of-a-reactjs-component-to-a-div*/
}


.inputs{
    background-color: #fff;
    min-width: 4em;
    padding: 0.75em;
    margin: 0.75em 0.1em ;
    border-radius: 1em;
    border: 0.1em solid black;
    
    min-height: 5ch;
}


.inputs:hover{
    transform: scale(1.05);
}

.button{
    padding: 0.75em;
    margin: 1em 0.2em ;
    border-radius: 1em;
    border: 0.1em solid #fff;
    background-color: #fff ;
    box-shadow: 0.2em 0.2em 0.2em #fff;
    cursor: pointer;
    position: sticky;
}


@media only screen and (max-width: 1080px) {
    .inputs {
        max-width: 9em;
    }
  }

@media only screen and (max-width: 960px) {
    .inputs {
        max-width: 9em;
    }
  }