.bubbleArea{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.bubble{
    border-radius: 1em;
    background-color: #C1E1C1;
    padding: 0.5em;
    margin: 0.5em;
}

.bubbleFalse{
    border-radius: 1rem;

    background-color: #FF746C;
    padding: 0.5em;
    margin: 0.5em;
}