/* https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit */

.button{
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em;
}

.button:focus {
  outline: revert;
}

.container{
  min-width: 100%;
  
}

.navContainer{
  background-color: #000;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}



.searchBar{
  min-width: 85%;
}

.groupedLinks{
  align-items: end;
  justify-items: end;
}

.singleLink, .groupedLinks{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 0;
}

/* .singleLink{
  grid-area: singleLink;
  justify-content: flex-start;
} */

.links{
  display: flex;
  align-content: center;
  border-radius: 1.5em;
  margin: 1em;
  max-width: 1em;
  background-color: #fff;
  border: solid 0.05em #fff ;
  cursor: pointer;
  padding: 1.5em;
  position: sticky;
}

/* .groupedLinks{
  margin-right:0 !important;
  padding-right: 0 !important;
} */

/*
https://www.w3schools.com/howto/howto_css_dropdown.asp
*/
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 10em;
  box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
  z-index: 1;
}



.dropdownContent p:hover {background-color: #ddd;}

.dropdown:hover .dropdownContent {
  display: block;
}

@media only screen and (max-width: 960px) {
  .searchBar{
    min-width: 65%;
  }
}






