
#navArea{
    font-size: large;   
    padding: 3em;

}
#submitButtonArea{
    margin: 1em;
}


#button{
    background-color: white;
    padding: 0.5em; 
    border-radius: 0.5em;

}

#links{
    display: flex;
    align-items: center;
    justify-content: center;
}

#links *{
    margin: 0 0.5em;

}

#hi{
    margin: 0.5em;
    position: relative;
    bottom: 5%;
}