.who{

    margin: 2em;
    position: relative;
    border-radius: 0.66em;
}

.img{
    max-width: 12.5vw;
    max-height: 12.5vw;
    margin-bottom: 1.5em;
}

.selected{
    transform: scale(1.05);
    background-color: #54AD56 !important;
}


.options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.options input[type=checkbox] {
   display: none;
}

.options label{
    background-color: grey;
    min-width: 25vw;
    min-height: 25vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.options label strong{
    position: fixed;
    position:absolute; 
    bottom:0.5em;
}

@media only screen and (max-width: 900px) {
    .who{
        margin: 1em;
    }
  }