.who{
    min-width: 20em;
    min-height: 20em;
    margin: 2em;
    position: relative;
    border-radius: 0.66em;
}

.img{
    max-width: 10em;
    max-height: 10em;
    margin-bottom: 1.5em;
}

.selected{
    transform: scale(1.15);
    background-color: aquamarine !important;
}


.options{
    display: flex;
    justify-content: center;
    align-items: center;
}

.options input[type=checkbox] {
   display: none;
}

.options label{
    background-color: grey;
    min-width: 20em;
    min-height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
}

.options label strong{
    position: fixed;
    position:absolute; 
    bottom:0.5em;
}